<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test" parallel="true">
  
    <classes>   
      
      <class name="com.atmecs.bookotrip.testscript.OneWayTicketBooking"/>
       <class name="com.atmecs.bookotrip.testscript.RoundTripTicketBooking"/>
    </classes>
  </test>
  
   <!-- Test -->
</suite> <!-- Suite -->
